.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--dark-app-header-color);
}

.icon {
  padding: 10px;
}

.filterButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonWrapper {
  padding: 20px 20px;
  position: relative;
}

.buttonName {
  cursor: pointer;
  color: var(--dark-app-filter-color);
  font-weight: bold;
}

.filterButton {
  appearance: none;
}

.filterButton:focus::before {
  content: '';
  position: absolute;
  border: 1px solid var(--dark-app-point-color);
  width: 100%;
  left: -1px;
}
