.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--dark-app-header-color);
  flex-grow: 1;
}

.icon {
  padding: 10px;
}

.filterButton {
  position:relative;
  margin-right: 20px;
  height: 100%;
  color: var(--dark-app-filter-color);
  font-weight: bold;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.filterButton:hover {
  color: var(--)
}

.filterButton:focus::before {
  content: "";
  position:absolute;
  border: 1px solid var(--dark-app-point-color);
  width: 100%;
  top: 35px;
  left: -1px;
}